@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --color--blue: #112950;
    --background--bg: #fff;
    --btn-background: #1049e7ef;
    --btn-background-hover: #1049e7c9;
    --background-bg2: rgb(234, 238, 240);
}
*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background: var(--background--bg);
}

/*-------------------------selectors--------------------*/
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,
h2{
    padding: 0.5em 0em;
    color: var(--color--blue);
}
h3{
    padding-top: 1em;
    color: var(--color--blue);
}
h4{
    color: var(--color--blue);
}
p{
    color: var(--color--blue);
}
.cap_title{
    color: var(--color--blue);
    padding: 1em 0em;
    white-space: nowrap;
}

/*-----------------buttons----------------*/

.btn{
    padding: 1.5em 0em;
    
}
.hero .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.btn_blue{
    background: var(--btn-background);
    padding: 1em 2em;
    font-weight: bold;
    color: var(--background--bg);
    border-radius: 15px;
}
.hero .btn .btn_blue{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero .btn .btn_white{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.btn_blue:hover{
    background: var(--btn-background-hover);
}
.btn_white{
    background: var(--background--bg);
    padding: 1em 2em;
    font-weight: bold;
    color: var(--btn-background);
    border-radius: 15px;
    border: 1px solid var(--btn-background);
}
.btn_white:hover{
    background: var(--btn-background);
    color: var(--background--bg);
}







/*---------------------------navigation menu----------------------------------*/
.nav{
    padding: 1em 0em;
}
.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav_width{
    width: 30px;
    height: 30px;
    background: var(--btn-background-hover);
    border-radius: 5px;
    position: relative;
}
.nav_plus{
    width: 4px;
    height: 15px;
    background: var(--background--bg);
    position: absolute;
    left: 13px;
    top: 8px;
}
.nav_plus2{
    width: 4px;
    height: 16px;
    background: var(--background--bg);
    position: absolute;
    left: 13px;
    top: 7px;
    transform: rotate(90deg);

}
.nav_name{
    font-weight: bold;
    font-size: 1.2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.nav_flex{
    display: flex;
    justify-content: center;
    
}
.ul{
    
    list-style: none;
    display:none;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.li .nav_head{
    color: var(--color--blue);
}
.nav_flex i{
    color: var(--btn-background-hover);
    cursor: pointer;
}
.nav_flex i:hover{
    color: var(--btn-background);
}
.li{
    position: relative;
}
.nav_dorptown{
    position: absolute;
    top: 40px;
    left: -600px;
    background-color: var(--background-bg2);
    padding: 1em 3em;
}
.box1{
    left: -400px;
}
.box2{
    left: -550px;
}
.box-size2{
    width: 350px !important;
}
.li .nav_dorptown .nav_dorptown_inside{
    display: flex;
    gap: 30px;
    padding: 1.3em;

}
.nav_flex_inside{
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    width: 260px;
}
.heath_img{
    border-radius: 10px;
}
.industries_chevron{
    display: block;
    float: right;
    width: 20px;
}





/*--------------hero section-----------------------------*/
.hero{
    padding: 1em;
    margin: 0em auto;
}
.hero_content{
    text-align: center;
    max-width: 800px;
    margin: 0em auto;
}
.hero_title{
    font-size: clamp(2rem ,5vw, 3.5rem);
    padding-top: 2em;
}
.hero_para{
    font-size: 1.1rem;
    padding: 1em 0em;
}
.hero_img{
    aspect-ratio: 1 / 1;
    background-image: url("./images/hero_illo_optimised_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}






/*------------------------industriel section--------------------------------------*/
.industriel{
    background: var(--background-bg2);
    padding: 1.3em;
}
.ind_title{
    max-width: 700px;
    font-size: 2.6rem;
}
.ind_para{
    max-width: 500px;
}

/*---------industriels box------------*/
.ind_card .btn{
  margin: 2em 0em;
}
.ind_card{
    margin: 4em 0em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    background: var(--background--bg);
}
.space_vertical{
    width: 1px;
    height: 120px;
    background: #11295073;
    position: absolute;
    margin-top: 10px;
}
.space_flex{
    margin-left: 1em;
}
.inside_space_para{
    padding-bottom: 1em;
}
.spac_small{
    color: var(--color--blue);
}




/*---------------------company partners--------------------*/

.partners{
    padding: 1em;
}
.partners .cap_title{
    text-align: center;
}
.partners_logo{
    width: 80%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

}
.partners_img:nth-of-type(1){
    flex: 1 100px;
}
.partners_img:nth-of-type(2){
    flex: 2 100px;
}



/*-----------------------Resources-----------------------------------*/
.resources{
    background: var(--background-bg2);

}
.resources .cap_title{
    padding: 2em;
}
.resources_head{
    padding: 2em;
}
.resources_para{
    font-size: 1.2rem;
}

/*---resources box-----*/
.re_card{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 2em 2em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    background: var(--background--bg);
    
}
.re_card:nth-of-type(4){
    background: var(--color--blue);
}

.re_card_box{
    display: flex;
    gap: 20px;
    align-items: center;
}
.re_card_img{
    width: 50px;
}
.follow-up{
    padding: 1em 0em;
}
.re_card_title{
    padding: 0.6em 0em;
}
.btn-white{
    border: 1px solid var(--btn-background-hover);
    color: var(--color--blue);
    padding: 0.4em 0.4em;
    border-radius: 30px;
    font-size: 0.8rem;
}






/*--------------------upgrade-------------------------*/

.upgrade{
    padding: 4em 0.4em;
    text-align: center;
}



/*-----------------------testmonial--------------*/

.testmonial{
    background: var(--background-bg2);

}
.test_head{
    padding: 1em;
}
.test_card_box{
    margin: 2em;
    padding: 1em 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    background: var(--background--bg);
}
.test_card_img{
    padding-bottom: 0.5em;
}
.test_card_para{
    padding-bottom: 2em;
    font-size: 1.1rem;
    line-height: 1.5;
}
.card_name{
    padding: 0.6em 0em;
}
.card_box_img{
    width: 150px;
    
}
.test_link{
    text-align: center;
    padding: 1em 0em;
}
.testmonial_link{
    color: var(--btn-background-hover);
    font-size: 1.2rem;
}

/*--------------------------------------API benefits--------------------*/

.api_content{
    padding: 1em;
}
.api_title{
    font-size: 2.5rem;
}
.api_content_img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.api_img{
    width: 360px;
}
.api_content_title{
    padding: 1em 0em;
}

.api_para{
    line-height: 2;
}
.api_chevron{
    margin-right: 0.4em;
}
.api_speed{
    padding: 5em 1em;
}
.api_vertical{
    width: 4px;
    height: 80px;
    background-color: #112950;
    position: absolute;
    margin-top: 1em;

}
.api_nps{
    margin-left: 1em;
}
.api_speed_box{
    margin-top: 4em;
    margin-bottom: 4em;
}




/*---------------------singup page----------------------------*/

.singup{
    background: var(--background-bg2);
}
.wrapper{
    max-width: 500px;
    margin: auto;
    padding: 0em 1em;
}
.singup_head{
    text-align: center;
}
.singup_para{
    font-size: 1.1rem;
    padding-bottom: 1em;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.singup_para_sm{
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    max-width: 500px;
    margin: auto;
}

input[type="text"],input[type="email"]{
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 1rem;
    outline: none;
    border: 1px solid #80808070;
    border-radius: 5px;
    margin: 1em 0em;
    font-family: inherit;
    color: var(--color--blue);
}
input::placeholder{
    color: #112950;
    padding-left: 1em !important;
}
label{
    color: var(--color--blue);
    font-size: 1.1rem;
}
.red{
    color: red;
}
.singup select{
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #80808070;
    border-radius: 5px;
    margin: 1em 0em;
    font-size: 1rem;
    color: var(--color--blue);
    font-family: inherit;
}
option{
    color: #112950;
    background: #fff;
    font-size: 1.2rem;

}
option:hover{
    background: var(--btn-background-hover);
}
textarea{
    width: 100%;
    margin: 1em 0em;
    outline: none;
    border: 1px solid #80808070;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--color--blue);
    
}
.singup .btn{
    display: block;
    margin: auto;
    text-align: center;
}
  

/*---------------------------------foooter--------------------------------*/

.footer a{
    color: var(--color--blue);
}
.footer_para{
    line-height: 2;
}
.footer_warpper{
    padding: 1em;
}
.footer_card{
    padding: 1em 0em;
}
.veryfiers_simple{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1em 0em;
}
.veryfiers{
    padding: 1em 0em;
}
.copyrights{
    padding: 1em 0em;
}
.copy_links{
    padding: 1em 0em;
}
.copy_para{
    padding: 1em 0em;
}
.so_link{
    margin: 0em 1em;
}


/*----------------------------------media querys-----------------------------*/
@media(min-width: 846px){
    .hero .btn{
        display: flex;
        flex-direction: row;
    }
    .hero_para{
        max-width: 600px;
        margin: auto;
        font-size: 1.4rem;
    }
    .hero_img{
        background-image: url("./images/hero_illo_optimised.jpg");
    }
    .footer_warpper{
        width: 80%;
        margin: auto;
    }
    .platform{
        border: 1px solid #80808041;
        padding: 1em;
        width: 260px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}


@media(min-width: 1000px){
    #icon{
     display: none;   
    }
    .li{
        padding: 2em 1em;

    }
    .nav_head:hover{
        color: var(--btn-background);
    }
    .ul{
        display: flex;
    }
    .ind_card{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .ind_card{
        max-width: 900px;
        margin: 4em auto;
    }
    .card_inside_title{
        font-size: 2rem;
    }

    /*i------ndustriels-----*/
    .industriel_head{
        padding: 0em 5em;
    }
    .industriel .cap_title{
        padding-left: 4em;
    }
    .ind_card_inside{
        max-width: 500px;
    }

    /*-----partners-----*/
    .partners{
        width: 70%;
        margin: auto;
    }

    /*--------resources---------*/
    .resources .cap_title{
        padding-left: 5em;
    }

    .resources_head{
        max-width: 600px;
        padding-left: 6em;
    }
    .resources_cards{
       display: grid;
       grid-template-columns: repeat(2,auto);
       width: 80%;
       margin: auto;
    }
    .re_card_title{
        font-size: 1.6rem;
    }
    .re_card_para{
        font-size: 1.1rem;
    }
    .re_card_box{
        padding: 1em 1em;
    }

    /*----upgrade---------*/
    .upgrade{
        padding: 8em 3em;
    }
    .upgrade_title{
        max-width: 800px;
        margin: auto;
        font-size: 3rem;

    }

    /*-----------------testmonials cards-----------*/

    .test_head{
        padding-left: 7em; 
    
    }
    .testmonial_title{
        max-width: 600px;
        font-size: 2.7rem;
    }

    .test_card{
        display: grid;
        grid-template-areas: 
        "header bart"
        "adam bart"
        "adam michal"
        "julita michal";
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    .grid_box1{
        grid-area: header;
    }
    .grid_box2{
        grid-area: adam;
    }
    .grid_box3{
        grid-area: julita;
    }
    .grid_box4{
        grid-area: bart;
    }
    .grid_box5{
        grid-area: michal;
    }

    /*--------------api-----------*/

    .api{
        width: 80%;
        margin: auto;
    }
    .api_title{
        max-width: 600px;
        font-size: 3rem;
    }
    .api_benefits{
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: auto;
        
    }
    .api_content_title{
        font-size: 1.7rem;
    }
    .api_para{
        font-size: 1.2rem;
    }
    .api_speed{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    /*----------------------foooter-----------------------------------*/

    .footer_links{
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    .footer_warpper{
        padding: 6em 0em;
        width: 90%;
    }
    .veryfiers{
        display: flex;
        justify-content: space-between;
    }
    .copyrights{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copy_links{
        display: flex;
    }
    .copy_para{
        padding: 0.7em 1em;
    }









}